// $theme-primary: #F05F40;
// $theme-dark: #222;
$font-family-sans-serif: "Inter", sans-serif, !default;
// $font-family-monospace: "Source Code Pro", monospace !default;
// $font-size-base: 0.9rem !default;
$navbar-height: 60px;
$primary: #4e6299;
$link-color: #4e6299;
$background-color: #4e6299;