.collapsible {
  cursor: pointer;
  font-size: smaller;
}

.collapse-active, .collapsible:hover {
  margin: 1em 1em;
}

.collapse-content {
  border-left: solid 1px #dddddd;
  font-style: italic;
  padding: 0em 1em;
  /*
  margin: 1em 0 0 0;
  max-width: 800px;*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: 'Show abstract.';
}

.collapse-active:after {
  content: "Hide."; /* Unicode character for "minus" sign (-) */
}
